

<h1>Lessons</h1>




<h3> Fractions </h3>
<% @lessons.each do |lesson| %>
  <p>
    <td><%=  link_to lesson.title, lesson if lesson.subject == "Fractions" %></td>
  </p>
  <br>
<% end %>

<h3> Place Value </h3>
<% @lessons.each do |lesson| %>
  <p>
    <td><%=  link_to lesson.title, lesson if lesson.subject == "Place Value" %></td>
  </p>
<% end %>

</table>

<br>
