

<h1>Lessons</h1>




<h3> Fractions </h3>
<% @classroom_games.each do |classroom_game| %>
  <p>
    <td><%=  link_to classroom_game.title, classroom_game if classroom_game.subject == "Fractions" %></td>
  </p>
<% end %>
<h3> Integers </h3>
<% @classroom_games.each do |classroom_game| %>
  <p>
    <td><%=  link_to classroom_game.title, classroom_game if classroom_game.subject == "Integers" %></td>
  </p>
<% end %>
<h3> Place Value </h3>
<% @classroom_games.each do |classroom_game| %>
  <p>
    <td><%=  link_to classroom_game.title, classroom_game if classroom_game.subject == "Place Value" %></td>
  </p>
<% end %>

</table>

<br>
