<% if user_signed_in? %>
<div class="vote-arrows pull-left">
   <div><%= link_to " ", lesson_up_vote_path(lesson), class: 'glyphicon glyphicon-thumbs-up', method: :lesson %>
   <strong>     <%= lesson.points %></strong></div>
 </div>
 <% end %>
